.timerBtn{
    width: 80px;
    height: 30px;
    border: 3px solid;
    background-color: lightgrey;
    border-radius:12px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif ;
    font-size:20px;
}

#timeDisplay{
    font-size: 75px;
    color:rgb(255,145,145);
    font-family:Arial, Helvetica, sans-serif;
}


#timeContainer{
    text-align:center;
    background-color:rgb(152,235,255);
    border:3px solid;
    border-radius:25px;
}